@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

body {
    max-width: 1280px;
    margin: 0 auto;
    background-color: rgba(122, 191, 191, .5);
}

h1, h2, h3, nav a, nav span {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 40px;
}

h2, h3, nav a, nav span, menu li {
    font-size: 20px;
}

footer, p, dd, li, nav, input {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

dt {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@media (max-width: 414px) {

    #start {
        background-color: #F2F2F2;
    }

    #start h1 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 16px;
    }

    #start menu {
        display: flex;
        flex-direction: row;
        gap: 2em;
        padding: 0;
        justify-content: center;
    }

    #start li {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        color: #EB5428;
    }

    #start img {
        width: 414px;
    }

    #start p {
        padding: 1em;
    }

}

@media (min-width: 415px) and (max-width: 768px) {

    #start {
        background-color: #F2F2F2;
    }

    #start h1 {
        text-align: left;
        margin-top: 0;
        margin-bottom: 16px;
    }

    #start menu {
        display: flex;
        flex-direction: row;
        gap: 5em;
        padding: 0;
        justify-content: center;
    }

    #start li {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        color: #EB5428;
    }

    #start img {
        width: 100%;
    }

    #start p {
        padding: 1em;
    }

}

@media (min-width: 769px) {

    #start {
        background-color: #F2F2F2;
    }

    #start h1 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 16px;
    }

    .m-flex {
        display: flex;
    }

    #start menu {
        display: flex;
        flex-direction: column;
        gap: 10em;
        padding: 0;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    #start li {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        color: #EB5428;
    }

    #start img {
        width: 50%;
        position: block;
    }

    .p-flex {
        display: grid;
        grid-template-columns: 1fr;
    }

    #start p {
        padding: 1em;
    }

}