@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

body {
    max-width: 1280px;
    margin: 0 auto;
    background-color: rgba(122, 191, 191, .5);
}

h1, h2, h3, nav a, nav span {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

nav a, nav span, menu li, footer, #social li {
    font-size: 20px;
}

p, dd, li, nav, input {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

dt {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.orange-bg {
    background-color: #EB5428;
}

@media (max-width: 414px) {

    body {
        margin-top: 20%;
    }

    #start {
        background-color: #F2F2F2;
    }

    #start h1 {
        text-align: center;
        margin-top: 0;
        padding-top: 2em;
        margin-bottom: 16px;
    }

    #start menu {
        display: flex;
        flex-direction: row;
        gap: 2em;
        padding: 0;
        justify-content: center;
    }

    #start li {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        color: #EB5428;
    }

    #start img {
        width: 414px;
    }

    #start p {
        padding: 1em;
        margin-bottom: 0;
    }

    #details {
        background-color: #F2F2F2;
    }

    #details h2 {
        margin-top: 0;
        text-align: center;
    }

    #details dl {
        width: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        padding: 1em;
        margin: 0;
    }

    #ingredients {
        background-color: #F2F2F2;
    }

    #ingredients h2 {
        margin-top: 0;
        text-align: center;
    }

    #ingredients ul {
        margin: 0;
    }

    #ingredients li {
        margin: 0;
        padding-bottom: 0.5em;
    }

    #directions {
        background-color: #F2F2F2;
        padding: 1em;
    }

    #directions h2 {
        margin-top: 0;
        text-align: center;
    }

    #directions p {
        padding: 0;
    }

    #side-dishes {
        background-color: #7ABFBF;
        padding: 1em;
    }

    #side-dishes h2 {
        margin-top: 0;
        text-align: center;
    }

    #side-dishes ul {
        display: grid;
        grid-template-columns: 1fr;
    }

    #side-dishes li {
        list-style-type: none;
    }

    #side-dishes img {
        height: 100px;
        width: 100px;
        float: left;
        padding-right: 1em;
    }

    .p-bold {
        font-weight: bold;
    }

    header {
        position: absolute;
        display: block;
        top: 0;
        width: 100%;
        background-color: #fff;
        height: 85px;
    }

    .nav-bar {
        display: flex;
    }

    .logo {
        display: flex;
        text-align: center;
        width: 60%;
        background-color: #EB5428;
        height: 85px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .hamburger p {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .avatar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .avatar p {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .nav-bar {
        display: flex;
    }

    .menu-selection {
        display: none;
    }

    .search-bar {
        position: absolute;
        top: 85px;
        height: 85px;
        background-color: #F2F2F2;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .search-bar input {
        border-color: #EB5428;
        border-style: solid;
        width: 250px;
        height: 40px;
    }

    footer {
        background-color: #fff;
        text-align: center;
    }

    footer img {
        height: 30%;
        width: 30%;
    }

    footer ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        justify-content: center;
        padding: 0;
        padding-bottom: 1em;
    }

    footer li {
        display: flex;
        flex-direction: column;
        color: #EB5428;
        list-style-type: none;
        padding: 0.2em;
        align-items: center;
    }

    footer p {
        font-weight: bold;
        margin: 0;
    }

    

}

@media (min-width: 415px) and (max-width: 768px) {

    #start {
        background-color: #F2F2F2;
    }

    #start h1 {
        text-align: left;
        margin-top: 5em;
        margin-bottom: 16px;
        padding: 0.5em;
    }

    #start menu {
        display: flex;
        flex-direction: row;
        gap: 5em;
        padding: 0;
        justify-content: center;
    }

    #start li {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        color: #EB5428;
    }

    #start img {
        width: 100%;
    }

    #start p {
        padding: 1em;
        margin-bottom: 0;
    }

    #details {
        background-color: #F2F2F2;
    }

    #details h2 {
        margin-top: 0;
        text-align: center;
    }

    #details dl {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        padding: 1em;
        justify-items: center;
        margin: 0;
    }

    .ing-dir-flex {
        display: flex;
    }

    #ingredients {
        background-color: #F2F2F2;
        width: 25%;
        padding: 1em;
    }

    #ingredients h2 {
        margin-top: 0;
        text-align: center;
    }

    #ingredients ul {
        margin: 0;
    }

    #ingredients li {
        margin: 0;
        padding-bottom: 0.5em;
    }

    #directions {
        background-color: #F2F2F2;
        width: 75%;
        padding: 1em;
    }

    #directions h2 {
        margin-top: 0;
        text-align: center;
    }

    #directions p {
        padding: 0.5em;
    }

    #side-dishes {
        background-color: #7ABFBF;
        padding: 1em;
    }

    #side-dishes h2 {
        margin-top: 0;
        text-align: center;
    }

    #side-dishes ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #side-dishes li {
        list-style-type: none;
    }

    #side-dishes img {
        height: 100px;
        width: 100px;
        float: left;
        padding-right: 1em;
    }

    .p-bold {
        font-weight: bold;
    }

    header {
        position: absolute;;
        height: 170px;
        top: 0;
        width: 100%;
    }

    .nav-bar {
        display: flex;
        background-color: #fff;
        height: 85px;
    }

    .logo {
        display: flex;
        text-align: center;
        background-color: #EB5428;
        height: 85px;
        width: 10%;
        justify-content: center;
        align-items: center;
    }

    .avatar {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        right: 8px;
    }

    .avatar p {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .search-bar {
        position: absolute;
        right: 100px;
        top: 20px;
        height: 85px;
        display: flex;
        flex-direction: row;
    }

    .search-bar input {
        border-color: #EB5428;
        border-style: solid;
        width: 250px;
        height: 40px;
    }

    .menu-selection {
        background-color: #fff;
    }

    .menu-selection ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .menu-selection li {
        padding: 0.7em;
        color: #EB5428;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }

    .menu-selection img {
        height: 60px;
        width: 60px;
    }

    .hamburger {
        display: none;
    }

    footer {
        background-color: #fff;
        display: flex;
        flex-direction: row-reverse;
    }

    .footer-imgs {
        width: 100%;
        text-align: center;
    }


    footer img {
        height: 100px;
        width: 100px;
    }

    footer ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        justify-content: center;
        padding: 0;
        padding-bottom: 1em;
    }

    footer li {
        display: flex;
        flex-direction: column;
        color: #EB5428;
        list-style-type: none;
        padding: 0.2em;
        align-items: center;
    }

    footer p {
        font-weight: bold;
        margin: 0;
    }

}

@media (min-width: 769px) {

    #start {
        background-color: #F2F2F2;
    }

    #start h1 {
        text-align: center;
        margin-top: 4em;
        margin-bottom: 16px;
        padding: 0.5em;
    }

    .m-flex {
        display: flex;
    }

    #start menu {
        display: flex;
        flex-direction: column;
        gap: 10em;
        padding: 0;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    #start li {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        color: #EB5428;
    }

    #start img {
        width: 50%;
    }

    .p-flex {
        display: grid;
        grid-template-columns: 1fr;
    }

    #start p {
        padding: 1em;
        margin-bottom: 0;
    }

    #details {
        background-color: #0D0D0D;
        color: #7ABFBF;
    }

    #details h2 {
        margin-top: 0;
        text-align: center;
    }

    .item-1 {
        grid-area: item-1;
    }

    .item-one {
        grid-area: item-one;
    }

    .item-2 {
        grid-area: item-2;
    }

    .item-two {
        grid-area: item-two;
    }

    .item-3 {
        grid-area: item-3;
    }

    .item-three {
        grid-area: item-three;
    }

    .item-4 {
        grid-area: item-4;
    }

    .item-four {
        grid-area: item-four;
    }

    .item-5 {
        grid-area: item-5;
    }

    .item-five {
        grid-area: item-five;
    }

    #details dl {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template: 
        "item-1 item-2 item-3 item-4 item-5"
        "item-one item-two item-three item-four item-five";
        justify-items: center;
        margin: 0;
    }

    #details dd {
        margin: 0;
        margin-bottom: 1em;
    }

    .ing-dir-flex {
        display: flex;
    }

    #ingredients {
        background-color: #F2F2F2;
        width: 20%;
        padding: 1em;
    }

    #ingredients h2 {
        margin-top: 0;
        text-align: center;
    }

    #ingredients ul {
        margin: 0;
    }

    #ingredients li {
        margin: 0;
        padding-bottom: 0.5em;
    }

    #directions {
        background-color: #F2F2F2;
        width: 75%;
        padding: 1em;
    }

    #directions h2 {
        margin-top: 0;
        text-align: center;
    }

    #directions p {
        padding: 0.5em;
    }

    #side-dishes {
        background-color: #7ABFBF;
        padding: 1em;
    }

    #side-dishes h2 {
        margin-top: 0;
        text-align: center;
    }

    #side-dishes ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #side-dishes li {
        list-style-type: none;
    }

    #side-dishes img {
        height: 250px;
        width: 250px;
        padding-right: 1em;
    }

    .p-bold {
        font-weight: bold;
    }

    header {
        position: absolute;;
        height: 170px;
        top: 0;
        width: 100%;
        max-width: 1280px;
    }

    .nav-bar {
        display: flex;
        background-color: #fff;
        height: 100px;
    }

    .logo {
        display: flex;
        text-align: center;
        background-color: #EB5428;
        height: 85px;
        width: 10%;
        justify-content: center;
        align-items: center;
    }

    .avatar {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        right: 8px;
    }

    .avatar p {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .menu-selection {
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
    }

    .menu-selection ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .menu-selection li {
        padding: 0.2em;
        padding: 0.2em 1.2em 0.2em 1.2em;
        color: #EB5428;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }

    .menu-selection img {
        height: 50px;
        width: 50px;
    }

    .hamburger {
        display: none;
    }

    .search-bar {
        position: absolute;
        top: 90px;
        height: 85px;
        background-color: #F2F2F2;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .search-bar input {
        border-color: #EB5428;
        border-style: solid;
        width: 250px;
        height: 40px;
    }

    footer {
        background-color: #fff;
        display: flex;
        flex-direction: row-reverse;
    }

    .footer-imgs {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }


    footer img {
        height: 150px;
        width: 150px;
    }

    footer ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        justify-content: center;
        padding: 0;
        padding-bottom: 1em;
    }

    footer li {
        display: flex;
        flex-direction: column;
        color: #EB5428;
        list-style-type: none;
        padding: 1em;
        align-items: center;
    }

    footer p {
        font-weight: bold;
        margin: 0;
    }

}