@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

body {
    max-width: 1280px;
    margin: 0 auto;
    background-color: rgba(122, 191, 191, .5);
}

h1, h2, h3, nav a, nav span {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

nav a, nav span, menu li, footer, #social li {
    font-size: 20px;
}

p, dd, li, nav, input {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

dt {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@media (max-width: 414px) {

    #start {
        background-color: #F2F2F2;
    }

    #start h1 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 16px;
    }

    #start menu {
        display: flex;
        flex-direction: row;
        gap: 2em;
        padding: 0;
        justify-content: center;
    }

    #start li {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        color: #EB5428;
    }

    #start img {
        width: 414px;
    }

    #start p {
        padding: 1em;
        margin-bottom: 0;
    }

    #details {
        background-color: #F2F2F2;
    }

    #details h2 {
        margin-top: 0;
        text-align: center;
    }

    #details dl {
        width: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        padding: 1em;
        margin: 0;
    }

    #ingredients {
        background-color: #F2F2F2;
    }

    #ingredients h2 {
        margin-top: 0;
        text-align: center;
    }

    #ingredients li {
        margin: 1em;
    }

}

@media (min-width: 415px) and (max-width: 768px) {

    #start {
        background-color: #F2F2F2;
    }

    #start h1 {
        text-align: left;
        margin-top: 0;
        margin-bottom: 16px;
    }

    #start menu {
        display: flex;
        flex-direction: row;
        gap: 5em;
        padding: 0;
        justify-content: center;
    }

    #start li {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        color: #EB5428;
    }

    #start img {
        width: 100%;
    }

    #start p {
        padding: 1em;
        margin-bottom: 0;
    }

    #details {
        background-color: #F2F2F2;
    }

    #details h2 {
        margin-top: 0;
        text-align: center;
    }

    #details dl {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        padding: 1em;
        justify-items: center;
        margin: 0;
    }

    #ingredients {
        background-color: #F2F2F2;
        width: 25%;
    }

    #ingredients h2 {
        margin-top: 0;
        text-align: center;
    }

    #ingredients li {
        margin: 1em;
    }

}

@media (min-width: 769px) {

    #start {
        background-color: #F2F2F2;
    }

    #start h1 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 16px;
    }

    .m-flex {
        display: flex;
    }

    #start menu {
        display: flex;
        flex-direction: column;
        gap: 10em;
        padding: 0;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    #start li {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        color: #EB5428;
    }

    #start img {
        width: 50%;
        position: block;
    }

    .p-flex {
        display: grid;
        grid-template-columns: 1fr;
    }

    #start p {
        padding: 1em;
        margin-bottom: 0;
    }

    #details {
        background-color: #0D0D0D;
        color: #7ABFBF;
    }

    #details h2 {
        margin-top: 0;
        text-align: center;
    }

    .item-1 {
        grid-area: item-1;
    }

    .item-one {
        grid-area: item-one;
    }

    .item-2 {
        grid-area: item-2;
    }

    .item-two {
        grid-area: item-two;
    }

    .item-3 {
        grid-area: item-3;
    }

    .item-three {
        grid-area: item-three;
    }

    .item-4 {
        grid-area: item-4;
    }

    .item-four {
        grid-area: item-four;
    }

    .item-5 {
        grid-area: item-5;
    }

    .item-five {
        grid-area: item-five;
    }

    #details dl {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template: 
        "item-1 item-2 item-3 item-4 item-5"
        "item-one item-two item-three item-four item-five";
        justify-items: center;
        margin: 0;
    }

    #details dd {
        margin: 0;
        margin-bottom: 1em;
    }

    #ingredients {
        background-color: #F2F2F2;
        width: 20%;
    }

    #ingredients h2 {
        margin-top: 0;
        text-align: center;
    }

    #ingredients li {
        margin: 1em;
    }

}